.gardener_carousel {
    &__card {
        padding: 0.5rem;
        width: 195px !important;
        img {
            border-radius: 100vw;
            border: 0.5rem solid var(--col-grey);
            aspect-ratio: 1;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__title {
        text-align: center;
        font-weight: var(--fw-900);
        text-transform: uppercase;
        font-size: var(--fs-300);
    }
    &__carousel {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    // .slick-slider {
    //     display: flex;
    // //     display: grid;
    // // grid-template-columns: 64px auto 64px;
    // // place-content: center;
    //     margin-bottom: 1rem;
    // }
    // .slick-arrow {
    //     cursor: pointer;
    // }
}